<main>    
    <div class="w3-card-4">

        <header class="w3-container w3-blue">
            <h1>Reporte-Consultar</h1>
        </header>

        <form class="w3-container">
            <label class="w3-text-blue"><b>Nick de la cuenta</b></label>
            <input class="w3-input w3-border" type="text">

            <label class="w3-text-blue"><b>Servidor del juego</b></label>
            <input class="w3-input w3-border" type="text">

            <button type="submit" class="w3-btn w3-blue">Registrar</button>
        </form>

    </div>
</main>