<main id="mainLista">
    <h1>Reporte-Consulta</h1>
    <h2>Lista de Cuentas</h2>
    <ul class="w3-ul w3-xlarge" id="ulListData">
    </ul>
</main>
<main id="mainGato">
    <h2>Cuenta</h2>
    <img id="imgProfile" class="w3-bar-item w3-circle w3-hide-small" style="width:100px;height: 85px;">
    <div class="w3-bar-item">
        <span class="w3-large" id="txtNombre"> <br /></span>
        <span id="txtServer"></span>
    </div>
    <div class="w3-container">
        <h3>Registro de tiros de gato de la fortuna</h3>
        <h3>Nuevo<button class="w3-button w3-blue" id="btnNuevo">+</button></h3>
        <table class="w3-table-all" id="tblTiros">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Año</th>
                    <th>Mes</th>
                    <th>Fecha</th>
                    <th>Gemas Iniciales</th>
                    <th>Gemas Finales</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="w3-container">
        <hr />
        <h3><button class="w3-button w3-yellow" id="btnBack"><</button>Regresar</h3>
    </div>
</main>